.body{
    background-color: white;
    overflow-y: auto;
}

.NameList{
    position:relative;
    list-style-type: none;
    width: 1000px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    margin-right: 20px;
}

.ParticipantsList{
    top: -60px;
    width: 1519.2px;
    position:absolute;
    left:-40px;
    background-color: white;
}

#nameheading{
    position: relative;
    font-size: 30px;
    top: 0px;
    left: 50px;
    margin-bottom: 5px;
}

