@font-face {
    font-family: 'Ubuntu Sans'; /* Custom name for the font */
    src: url("D:\devcom\Moodle-Clone\src\assets\UbuntuSans-VariableFont_wdth,wght.ttf") format('woff2'),
         url('fonts/your-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

#about-box{
    background-color: rgb(227, 229, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 32vh;    

}

.student-data{
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    font-family:Ubuntu Sans,sans-serif ;
}

#middle-container{
    display: flex;
    align-items: center;  
    height: 5rem;  
}

.btns{
    height: 5rem;  
    width: 9rem;
    
}

#profile-name{
    margin-left: 1rem;
    
}

hr{
    width: 50%; /* Set the width to 60% */
    margin-left: 0px;
}

