@font-face {
  font-family: 'Ubuntu Sans Mono'; /* Custom name for the font */
  src: url("../assets/UbuntuSansMono-VariableFont_wght.ttf") format('woff2'),
       url('fonts/your-font.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Sans'; /* Custom name for the font */
  src: url("../assets/UbuntuSans-VariableFont_wdth,wght.ttf") format('woff2'),
       url('fonts/your-font.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

#body-container{
      display: flex;
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px;
    }
body{
  margin: 0px;
  padding: 0px;
}  
  #left-container{
    width: 10vw;
  }

  #right-container{
    width: 89vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0px;
    padding-right: 0px;
  }

  #student-info{
    margin-top: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: url("../assets/DALL·E 2025-02-02 16.07.01 - A minimalistic flat design featuring two layers of abstract amoeba-like shapes in different shades of dark blue, stacked on top of each other. The des 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 60px 60px;  
  }
    
  ul{
    list-style: none;
  }

#profile-photo{
    position: relative;
    right: 40px;
    top: 70px;
    height: 60%;

}

#group-png{
  position: absolute;
  left: 755px;
  top: 300px;
  height: 10%;
}
#profile-name{
  font-family: 'Ubuntu Sans Mono', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: black; 
}

#middle-container{
  display: flex;
  align-items: center;  
  height: 10rem;  
}
.btns{
    height: 5rem;
    background-color: rgb(255, 255, 255);
    font-family: Ubuntu Sans,sans-serif;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center; 
    border-radius: 0px 0px 10px 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }
 
button:focus,
button:focus-visible {
     /* border-right:2px solid rgba(92, 75, 213, 1); */
     border-bottom:2px solid rgba(92, 75, 213, 1); 
    background: linear-gradient(to top, rgba(92, 75, 213, 1), rgba(92, 75, 213, 0)) bottom right / 2px 100% no-repeat;
}
.btns span{
  margin: 20px 5px 0px 70px;
}

#left-child-container{
  background-color: rgb(48,39,111);
  border-radius: 0px 50px 0px 0px ;
  height: 100%;
}

#left-container{
  background-color: rgb(228, 228, 231);

}

#iitb-logo{
  margin-top: 4vh;
  margin-left: 1vw;
}  
