/* div{
    border: 1px solid red;
  }
   */
  #body-container{
      display: flex;
      height: 100%;
      width: 98vw;
  }
  
  #left-container{
    width: 13vw;
  }
  #right-container{
    width: 87vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #student-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  #about-grades{
    height: 40vh;
  }
  
  ul{
    list-style: none;
  }