.app{
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    overflow-y: visible;
=======
    background-color: white;
    overflow-y: auto;
>>>>>>> Stashed changes
=======
    background-color: white;
    overflow-y: auto;
>>>>>>> Stashed changes
    overflow-x: hidden;
    height: 100vh;
    width: 100vh;
}